body {
    background-color: yellow;
  }

  .menu-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .menu-container{
        flex-direction: column;
    }
  }
