h1{
    font-size: 24px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}
h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p{
    color: #4d4d4d;
    border-radius: 9px; 
    border-style: solid;
    border-color: #0000ff;
    border-bottom-left-radius: 
    5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-left-width: 5px;
}
p.p1{
    font-weight: bold;
    color: greenyellow;
}
a{
    color: #8a2be2;
    text-decoration: none;
}
header{
 width: 33%;
 background-image: url(Gaming1.jpg);
}